.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    .header__logo {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .header__navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      .header__link {
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        transition: color 0.2s ease;

        &:hover {
          color: #37775f;
        }
      }
    }
  }
}
