.button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3rem;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 1.2rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}
