.about {
  width: 100%;
  background-image: url(/images/Factory/Factory_Banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 3rem;
}

.about__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .about__content {
    h1 {
      font-size: 2.6rem;
      text-align: center;
      margin-bottom: 1rem;
      font-family: "Tajawal", sans-serif;
      font-weight: 700;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 400;
    }

    .video__container {
      display: flex;
      justify-content: center;
      align-items: center;

      video {
        width: 100%;
        height: 700px;
      }
    }
  }

  .about__story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    padding-inline: 1rem;

    .story__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5rem;
        font-family: "Tajawal", sans-serif;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .story__img {
      width: 80%;

      img {
        width: 100%;
      }
    }
  }

  .about__vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    flex-direction: row-reverse;
    padding-inline: 1rem;

    .vision__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5rem;
        font-family: "Tajawal", sans-serif;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .vision__img {
      width: 80%;

      img {
        width: 100%;
      }
    }
  }

  .about__mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    padding-inline: 1rem;

    .mission__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5rem;
        font-family: "Tajawal", sans-serif;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    .mission__img {
      width: 80%;

      img {
        width: 100%;
      }
    }
  }
  .end__img {
    width: 80%;
    img {
      width: 100%;
    }
  }
  .about__end {
    font-size: 1.5rem;
    font-weight: 700;

    p {
      text-align: center;
      margin-top: 4rem;
    }
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
  .about__container {
    max-width: 1000px;

    .about__content {
      h1 {
        font-size: 2rem;
      }
    }

    .about__story,
    .about__vision,
    .about__mission,
    .about__end {
      padding-inline: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .about__container {
    max-width: 900px;

    video {
      width: 100%;
      height: 100%;
    }

    .about__story,
    .about__vision,
    .about__mission,
    .about__end {
      flex-direction: column;
      padding-inline: 1rem;
      align-items: flex-start;
    }

    .about__story {
      .story__content {
        width: 100%;
      }

      .story__img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .about__vision {
      flex-direction: column;

      .vision__content {
        width: 100%;
      }

      .vision__img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .about__mission {
      flex-direction: column;

      .mission__content {
        width: 100%;
      }

      .mission__img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
    .end__img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .about__container {
    max-width: 700px;
    .about__content {
      h1 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.9rem;
      }

      .video__container {
        video {
          width: 100%;
          height: 400px;
        }
      }
    }

    .about__story,
    .about__vision,
    .about__mission {
      flex-direction: column;
      padding-inline: 1rem;
      align-items: flex-start;
    }
    .about__end {
      p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .about {
    margin-bottom: 0;
  }
  .about__container {
    max-width: 400px;

    .about__content {
      padding-inline: 1rem;
      h1 {
        font-size: 0.7rem;
      }

      p {
        font-size: 0.7rem;
      }

      .video__container {
        video {
          width: 100%;
          height: 200px;
        }
      }
    }

    .about__story,
    .about__vision,
    .about__mission {
      flex-direction: column;
      padding-inline: 1rem;
      align-items: flex-start;
      gap: 1rem;
      .story__content,
      .vision__content,
      .mission__content {
        h2 {
          font-size: 1rem;
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }

    .about__end {
      p {
        font-size: 1.1rem;
        text-align: center;
      }
    }

    .about__story,
    .about__vision,
    .about__mission {
      .story__img,
      .end__img {
        width: 100%;

        img {
          width: 100%;
        }
      }
      .mission__img,
      .vision__img {
        width: 100%;
      }
    }
  }
}
