.img__container {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #88b44e;
    opacity: 0.3;
    z-index: 1;
  }
}
