.about {
  margin-block: 5rem;

  .about__container {
    max-width: 1400px;
    margin: 0 auto;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    .about__images {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      flex: 1;
      height: 500px;
      overflow: hidden;

      .left__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 0.8rem;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          aspect-ratio: 1/1;

          &:last-child {
            width: 50%;
          }
        }
      }

      .right__images {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.8rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          aspect-ratio: 1/1;

          &:first-child {
            width: 50%;
          }
        }
      }
    }

    .about__content {
      flex: 1;

      .about__subtitle {
        color: var(--black-color);
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
        font-style: italic;
      }

      .about__title {
        font-family: "Tajawal", sans-serif;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 600;
        color: var(--dark-color);
        margin-bottom: 2rem;
        position: relative;
        padding-bottom: 2rem;

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background: var(--main-color);
        }

        &::after {
          position: absolute;
          content: "";
          width: 28px;
          height: 28px;
          bottom: -13px;
          left: calc(50% - 13px);
          background: var(--dark-color);
          border: 10px solid var(--light-color);
          border-radius: 28px;
        }
      }

      .about__desc {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: #141414;
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    .about__container {
      max-width: 1200px;
      gap: 2rem;
      padding-inline: 1rem;

      .about__content {
        .about__subtitle {
          font-size: 1.1rem;
        }

        .about__title {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .about {
    .about__container {
      flex-direction: column;
      max-width: 900px;
      row-gap: 4rem;

      .about__images {
        width: 100%;

        .left__images,
        .right__images {
          height: 600px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    .about__container {
      max-width: 700px;

      .about__images {
        .left__images,
        .right__images {
          height: 500px;
        }
      }

      .about__content {
        .about__title {
          font-size: 3rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .about {
    .about__container {
      max-width: 400px;

      .about__images {
        .left__images,
        .right__images {
          height: 400px;
        }

        .left__images {
          height: 100%;
          img {
            height: 100%;

            &:last-child {
              height: 150px;
              width: 75%;
            }
          }
        }

        .right__images {
          height: 100%;
          img {
            height: 100%;

            &:first-child {
              width: 75%;
              height: 150px;
            }
          }
        }
      }

      .about__content {
        .about__title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
